.complwholist {
display: flex;
flex-direction: column;
justify-content: center;
width: 70%;
position: relative;
left: 15%;
text-align: center;
}

h1 {
  margin: 3vh;
  font-size: 30px;
  text-align: center;
  color: rgba(245, 245, 245, 0.7);
}

h4 {
  font-size: 20px;
  margin-bottom: 1vh;
}

.inditem {
  margin: 2vh;
  padding: 1vw;
  border-radius: 5px;
  border: 2px black solid;
  background-color: rgba(245, 245, 245,0.7);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 18px;
  margin: auto;
  color: rgba(245, 245, 245, 0.7);
}

.linkbutt {
  position: relative;
  left: 7.5%;
  width: 85%;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(22, 75, 106, 0.7);
  font-size: 18px;
  padding: 5px;
  margin-top: 2vh;
  border: 2px black solid
}

.clearbutt {
  background-color: rgba(255, 64, 64, 0.7);
  padding: .5vw;
  border-radius: 3px;
  text-align: center;
  border: 2px black solid;
  font-size: 22px;
  padding: 5px;
  margin: 15px;
  font-weight: 500;
}

.addbutt {
  background-color: rgba(150, 150, 150, 0.7);
  padding: .5vw;
  border-radius: 3px;
  text-align: center;
  border: 2px black solid;
  font-size: 22px;
  padding: 5px;
  margin: 15px;
  font-weight: 500;
}

.pics {
  width: 60%;
  height: 60%;
  /* position: relative;
  right: 17%; */
  margin: auto;
  display: flex;
  align-content: center;
  text-align: center
}

@media (min-width: 600px) {
  .complwholist {
    width: 40%;
    left: 30%;
  }
  .pics {
    width: 60%;
    height: 60%;
  }
}

@media (min-width: 1200px) {
  .inditem {
    padding-top: auto;
    height: auto;
  }
  .linkbutt {
    width: 60%;
    left: 20%
  }

}