.complwholist {
display: flex;
flex-direction: column;
justify-content: center;
width: 70%;
position: relative;
left: 15%;
text-align: center;
}

h1 {
  margin: 3vh;
  font-size: 30px;
  text-align: center;
}

h4 {
  font-size: 20px;
  margin-bottom: 1vh;
}

.inditem {
  margin: 3vh;
  padding: 1vw;
  border-radius: 5px;
  border: 2px black solid;
  text-align: center;
  background-color: white;
  font-size: 18px
}

h3 {
  font-size: 18px;
  
}

.linkbutt {
  position: relative;
  left: 7.5%;
  width: 85%;
  border-radius: 5px;
  text-align: center;
  background-color: #bfd8d2;
  font-size: 18px;
  padding: 5px;
  margin: 3px;
  border: 2px black solid
}

.clearbutt {
  background-color: #df744a;
  padding: .5vw;
  border-radius: 3px;
  text-align: center;
  border: 2px black solid;
  font-size: 22px;
  padding: 5px;
  margin: 15px;
  font-weight: 500;
}