.pic {
  width: 30%;
  margin: 6%;
}

.item {
  margin: 5vw;
  font-family: 'Rubik', sans-serif;
  border-radius: 5px;
  border: black 2px solid;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-evenly;
  height: 25vh;
  background-color: white;
}

.textinfo {
  position: relative;
  right: 0%;
  width: 30%;
  font-size: 3vw;
}

.template_button {
  width: 15%;
  border-radius: 5px;
  text-align: center;
  background-color: #bfd8d2;
  font-size: 12px;
  padding: 5px;
}

/* .lowerpart {
  background-color: #2A2A2A;
} */