.pic {
  width: 30%;
  margin: 6%;
}

.item {
  margin: 5vw;
  font-family: 'Rubik', sans-serif;
  border: black 1px solid;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-evenly;
  height: 25vh;
}

.textinfo {
  position: relative;
  right: 0%;
  width: 30%;
  font-size: 3vw;
}

.template_button {
  width: 10%;
}