.newbuild {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  border-bottom: 2px black solid;
  background-color: rgba(150, 150, 150, 0.9);
}

.top::-webkit-scrollbar {
  display: none;
}

.part {
  display: flex;
  align-items: center;
  margin: 2vw;
}

.part_img {
  height: 13vh;
  margin-left: 2vw;
}

/* .startbutton {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 2px black solid;
  background-color: #69779b;
  position: relative;
  width: 40vw;
  left: 30vw;
  top: 10vh;
  border-radius: 5px;
  border: 2px black solid;
} */

.complete {
  background-color: rgba(22, 75, 106, 0.9);
  padding: 1vw;
  border-radius: 5px;
  border: 2px black solid;
}

@media (min-width: 1200px) {
  .top {
    justify-content: space-evenly;
  }
  .part {
    margin: 1vw;
  }
  .part_img {
    height: 10vh;
  }
}