.homePage {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.newcolumn {
    display: flex;
    flex-direction: column;
    width: 45vw;
    /* margin: auto; */
    align-items: center;
    position: absolute;
    left: 5vw 
}


.head {
    font-family: Verdana, sans-serif;
    font-weight: 900;
    margin-top: 3vh;
    margin: 1vw;
    margin-bottom: 0vh;
    background-color: rgba(0,0,0,.9);
    color: rgba(245, 245, 245, 0.9);
    border: 2px rgba(245, 245, 245, 0.9) solid;
    padding: .5vw;
    border-radius: 7px;
    width: max-content;
    text-align: left;
}

.technews {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgba(150, 150, 150, 0.9);
    padding: 1vw;
    margin-bottom: 5vh;
}

.hello {
    width: 30vw;
}

.title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: 80%;
    margin-bottom: 2vh;
    

}

.date {
    margin: 3vh;
    font-weight: 600;
}


.link {
    font-size: 14px;
    margin-top: 3vh;
    text-align: center;
    width: 70%;
}

.url {
    color: #fff;
}

.columnthing {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    width: 40vw;
    position: absolute;
    right: 5vw;
    
}

.botw {
    margin-top: 3vh;
}

.botwnohead{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 2px solid black; 
    background-color: rgba(150, 150, 150, 0.9);
    justify-content: center;
    width: 40vw;
}

.feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1vw;
    position: relative;
    left: 3vw;
}

.indivthings {
    text-align: left;
    margin: auto;
    width: 50%;
    position: relative;
    left: 3vw;
}

.propic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
}

.linkthingy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indivthing {
    margin: 2%;
}

.hello {
    width: 100%;
}

.columnthing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}


.vidofweek {
    text-align: center;
}

@media (max-width: 1200px) {
    .homePage {
    flex-direction: column;
        width: 70vw;
        margin: auto;
        align-items: center;
        text-align: center;
        width: 80vw;
        margin-top: 3vh;
    }
   
    .newcolumn {
        position: relative;
        left: 0vw;
        margin: auto;
        width: 100%;
        bottom: 0%;
    }
    .head {font-size: 15px}

    .columnthing {
        position: relative;
        left: 0vw;
        flex-direction: column-reverse;
        align-items: center;
        margin: auto;
        width: 80vw;
        bottom: 0%;
    }
    
    .botwnohead {
        width: 80vw;
        height: 32vh;
    }
    .feature {
        left: 7vw;
    }
    .indivthing {
        left: 7vw;
    }
    .vidofweek {
        margin-top: 5vh;
        width: 80vw;
        margin-bottom: 3vh;
    }
   
}

@media (max-width: 600px) {
    
    .links {
        font-size: 14px;
    }
    .feature {
        left: 2vw;
        top: 3vh;
    }
    iframe {
        width: auto; 
        height: 167px;
    }
}