
.cpu_pic {
  width: 100px;
  height: 100px;
}

.mappedCpus {
  display: flex;
  flex-direction: column;
}

.cpu {
  margin: 2vw;
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: center;
  border: black 1px solid;
}

.textinfo {
  position: relative;
  right: 0%;
}