@import url('https://fonts.googleapis.com/css?family=Rubik');

a { text-decoration: none; color: black }
a:visited { text-decoration: none; color: black }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }

.navbar_lines {
  background-color: #bb0000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid black;
}

.navbar_x {
  background-color: #bb0000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid black;
}

.logo {
  width: 72px;
  height: 60px;
  position: absolute;
  left: 5vw;
  top: 10px;
}


.x {
  position: absolute;
}

.lines {
  position: absolute;
}

.dropdownItems_hidden {
  display: none;
}

.dropdown_link {
  position: relative;
  border-top: 2px black solid;
  padding: 10px;
}

.dropdownItems_notHidden {
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Rubik', sans-serif;
  position: absolute;
  top: 78px;
  right: 0vw;
  width: 40vw;
  background-color: rgba(98,98,98,.7);
  color: #E5E5E5;
  border-radius: 0px 0px 5px 5px;
}

.normal_nav {
  display: none;
}

@media (min-width: 600px) {
  .navbar_lines {
    height: 120px;
  }
  .navbar_x {
    height: 120px;
  }
  .logo {
    width: 108px;
    height: 90px;
    top: 16px
  }
  .dropdownItems_notHidden {
    top: 118px;
    font-size: 4.g5vw;
  }
}

@media (min-width: 1200px) {
  .navbar_lines {
    height: 120px;
  }
  .logo {
    width: 120px;
    height: 100px;
    top: 10px;
  }
  .small {
    display: none;
  }
  .normal_nav {
    display: flex;
    background-color: #E5E5E5;
    position: relative;
    right: 5vw;
    border-radius: 5px;
    border: 2px solid black;
  }
  .normal_item {
    font-size: 2.1vw;
    font-family: 'Rubik', sans-serif;
    margin: 1vw;
    background-color: rgba(98,98,98,.7);
    padding: .5vw;
    border-radius: 7px;
  }
}